@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{

    font-family: 'Cormorant Upright';
    background-color: #FFFFFF;
    color: black;
}

.app_header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;

}


.app__nav-items{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.5vw;

}

.app__nav-items li{

    padding: 0rem 2rem;

}

.nav__item-home{

    font-weight: 800;

}

.app__header-logo{

    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

}

.app__header-logopart{

    color: #7E7A05;
    padding-left: .5rem;

}

.app__navbar-login{

    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
    color: #7E7A05;
    font-family: 'Montserrat';
    font-size: 1vw;
    font-weight: bold;

}

.app__menu-icon{
    display: none;

}


.app__hero-img{

    background-image: url('unsplash_4_jhDO54BYg.png');
    position: absolute;
    width: 100%;
    height: 90vh;
    background-size:contain;
    background-repeat: no-repeat;
    z-index: -1;


}

.app__hero-container{

    display: flex;
    flex-direction: column;
    width: 29vw;
    position: relative;
    top: 8vw;
    left: 6vw;
    height: 30vw;
    background-color: #7E7A05;
    opacity: 0.7;
    border-radius: 2vw;

}

.app__hero-line{

    font-size: 4.6vw;
    font-weight: 400;
    margin-left:1.5vw;
    margin-right: 5vw;
    margin-top: 2.5vw;
    padding: 1vw;
    line-height: 4vw;
    

}

.app__hero-para{

    font-size: 1.8vw;
    margin: 2vw;
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 2vw 1.5vw 0;
    padding: 1vw;
    line-height: 2vw;
    letter-spacing: 0.1vw;

}

.app__subscribe-btn{

    font-size: 1.5vw;
    font-weight: 800;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Montserrat';
    border-radius: 1.5vw;
    padding: 1vw 0;


}

.app__mid-section{

    display: block;
    position: relative;
    top: 20vw;
    text-align: center;
    color: #7E7A05;
}

.app__grid-container{

    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-gap: 2rem 2rem ;
    justify-content: center;
    margin-top: 3rem;

}


.app__grid-element{

    display: inline-block;
    word-wrap: break-word;
    border: 1px solid olive;
    border-radius: 2rem 0rem;
    background-size: cover;
    color: #000000;
    word-break: break-all;
    word-wrap: break-word;


}

.image__description{

    font-family: 'Montserrat';

}

.app_web_view-show{

    width: 24vw;
}

.app__grid-element:hover{

    opacity: 0.8;
    cursor: pointer;

}

.see__more-link{

    display: none;
    position: absolute;
    z-index: 2;
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}



.app__grid-element:hover .see__more-link{

    display: unset;
}

.app__last-section{

    width: 100%;
    position: relative;
    top: 30vw;
    text-align: center;

}

.app__last-section h2{

    margin: 2rem 0;

}

.app_perks-title{

    color: #DCCA87;
}

.app__hightlight{

    display: block;
    padding: 1.5rem 0;
    background-color: #DCCA87;
    color: #FFFFFF;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;

}

.app_social-pages{

    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.app_social-pages a{

    display: inline-block;
    margin: 0 1rem;

}



.app__footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 40vw;
    text-align: center;

}


.app__end-statement{

    margin-top: 10vw;

}

@media screen and (max-width:720px) {

    .app__nav-items{

        position: absolute;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: #FFFFFF;
        color: #000000;
        right: 0;
        top: 0;
        width: 50vw;
        height: 100vh;
        list-style-type: none;
        font-size: 1.2rem;
        z-index: 2;
    
    }
    

    .app__hero-line{

        font-size: 3.2rem;
        font-weight: 400;
        margin: 2.5rem 1.5rem;
        line-height: 3.5rem;

    }


    .app__hero-para{

        font-size: 1.3rem;
        font-family: 'Montserrat';
        font-weight: 300;
        margin: 2rem 1.5rem 2rem 0rem;        
        line-height: 1.8rem;
        text-align: center;

    
    }

    .app__navbar-login{

        display: none;
    }

    .app__menu-icon{
        display: unset;

    }

    .app__hero-img{

        background-size:cover;
    }

    .app__hero-container{

        width: 100%;
        height: 90vh;
        position:unset;
        border-radius: unset;
        justify-content: center;
    }

    .app__grid-container{

        display: block;

    
    }

    .app__grid-element{

        display: inline-block;
        word-wrap: break-word;
        border: 1px solid olive;
        border-radius: 2rem 0rem;
        background-size: cover;
        color: #000000;
        word-break: break-all;
        word-wrap: break-word;
        margin: 1vh;    
    
    }
    
    
    .app_web_view-show{
    
        float: right;
    }
    
}


/* For search bar only */
.app__search-bar{

    display: block;
    margin-top: 30vh;

}

.app__search-label{

    width: 20vw;
    font-size: 2.5vw;
    text-align: right;
    margin-right: 2vw;
    color: #7E7A05;
}

#app__search-input{

    width: 64vw;
    height: 4.5vw;
    color: #7E7A05;
    
}

.search-btn{

    margin: 2vw;
    width: 3vw;
    height: 3vw;

}

/* For Login and Sign Up*/

.app__signup-box{

    background-color: #7E7A05;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.app__form-field{

    display: grid;
    grid-template-columns: auto auto;
    
}


